---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from "astro:content";
import {render,getEntry} from "astro:content";
import {Image} from "astro:assets";

export const getStaticPaths = ( async () => {
    const services = await getCollection('servicesContent');
    return services.map((service) => ({
        params: { slug: service.id },
        props: service,
    }));
}) satisfies GetStaticPaths;
const { slug } = Astro.params;
const service = Astro.props;
const entry = await getEntry('servicesContent', slug);
const {Content} = await render(entry);
---
<Layout title={service.data.title}>
    <section class="min-h-screen bg-gray-100 pt-14">
        <!-- Encabezado -->
        <header class="bg-gradient-to-r from-blue-600 to-purple-700 text-white py-20">
            <div class="container mx-auto px-6 text-center">
                <span class="text-4xl font-bold">{service.data.title}</span>
                <br>
                <span class="mt-4 text-lg">
                    {service.data.description}
                </span>
            </div>
        </header>

        <!-- Contenido Principal -->
        <div class="container mx-auto px-6 py-12">
            <div class="flex flex-col lg:flex-row items-center gap-8">
                <!-- Imagen -->
                <div class="w-full lg:w-1/2">
                    <Image transition:name={`${service.id}-image-service`}
                           src={service.data.imagen}
                           alt={service.data.title}
                           width={600} height={400}
                           class="rounded-lg shadow-lg" />
                </div>

                <!-- Beneficios -->
                <div class="w-full lg:w-1/2">
                    <h2 class="text-2xl font-bold mb-4">Características Clave</h2>
                    <ul class="space-y-4">
                        {
                            service.data.features.map((feature:any) => (
                                <li class="flex items start">
                                    <span class="w-6 h-6 flex items-center justify-center bg-blue-600 text-white rounded-full mr-4">+</span>
                                    <p>{feature}</p>
                                </li>
                            ))
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="container mx-auto pb-10">
            <Content />
        </div>
        <!-- Llamado a la Acción -->
        <div class="bg-white py-12">
            <div class="container mx-auto text-center">
                <h2 class="text-2xl font-bold mb-4">¿Listo para Transformar tu Idea en Realidad?</h2>
                <p class="mb-6 text-gray-700">
                    Si tienes un proyecto en mente, estaré encantado de ayudarte a hacerlo realidad. ¡Hablemos y trabajemos juntos!
                </p>
                <a href="/contact" class="px-6 py-3 bg-blue-600 text-white font-medium rounded-lg shadow-lg hover:bg-blue-700">
                    Contáctame
                </a>
            </div>
        </div>
    </section>
</Layout>